@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 6.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.cp-transition {
  &__container {
    height: 100%;
    width: 100%;
    position: relative;
    @media (max-width: 768px) {
      min-height: 250px;
    }
    
    & > div {
      height: 100%;
    }
    &--yellow {
      background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10, .4) 0%, rgba(248,47,47, .4) 82.6% );
    }
    &--green {
      background-image: linear-gradient( 110.1deg,  rgba(34,126,34, .4) 2.9%, rgba(168,251,60, .4) 90.3% );
    }
    &--violet {
      background-image: linear-gradient( 109.7deg,  rgba(229,0,57, .4) 1.8%, rgba(162,91,182, .4) 90.2% );
    }
    &--blue {
      background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255, .4) 0%, rgba(151,255,129, .4) 86.3% );
    }
  }

  &__squares-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .card {
    color: white;
    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      gap: 20px;
      &--yellow {
        background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,80,80,1) 0%, rgba(248,251,10,1) 82.6% );
      }
      &--green {
        background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
      }
      &--violet {
        background-image: linear-gradient( 109.7deg,  rgba(229,0,57,1) 1.8%, rgba(162,91,182,1) 90.2% );
      }
      &--blue {
        background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255,1) 0%, rgba(151,255,129,1) 86.3% );
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
        
      h2 {
        font-size: 3.2rem;
        font-weight: 700;
      }
      button {
        color: white;
        border: none;
        background: transparent;
        cursor: pointer;
    
        &:focus {
          outline: none;
        }
      }
    }
    &__content {
      display: grid;
      gap: 30px;
      grid-template-columns: min-content 1fr;
      align-content: center;
      shape-outside: circle();
    }
    &__img-placeholder {
      height: 175px;
      width: 175px;
      background: rgba(255, 255, 255, .7);
      border-radius: 50%;
      @media (max-width: 768px) {
        height: 100px;
        width: 100px;
      }
    }
    &__text-placeholder {
      text-align: justify;
      line-height: 125%;
      font-size: 1.6rem;
    }
  }
}